{%extends 'accounts/profile.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% block myname%}

{{ user.username }}

{% endblock %}

{% block content %}
<h1>Hi! {{ user.username }}</h1>
<div class='form-group'>
   <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{u_form|crispy }}
            {{p_form|crispy}}
    <button type="submit" class="btn">Atualizar</button>
        </form>
   </div>

        <div class='table-responsive'>
        {{data|safe}}
        </div>



{% endblock %}
